<div class='info'>
  <h3 class="text-center">メンバー情報</h3>
  <div class="card" style="height: 10rem;">
    <%= attachment_image_tag(member, :image) %>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item bg-secondary text-white"><%= member.nickname %></li>
    <li class="list-group-item bg-secondary text-white"><今一番ハマっているゲームは？></li>
    <li class="list-group-item bg-secondary text-white"><%= member.playing_now %></li>
    <li class="list-group-item bg-secondary text-white"><自己紹介></li>
    <li class="list-group-item bg-secondary text-white"><%= member.introduction %></li>
  </ul>
  </div>
  <%= link_to '',edit_member_path(member),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{member.id}" %>
</div>