<div class='info'>
  <div class='row'>
  <table class='table'>
      <td>
        メンバー情報
      </td>
    <tr>
    <td><%= attachment_image_tag(member, :image, :fill, 50, 50) %></td>
    <th><%= member.nickname %></th>
    </tr>
    <tr>
      <th>今一番ハマっているゲーム</th><br>
      <th><%= member.playing_now %></th>
    </tr>
    <tr>
  	  <th>introduction</th>
  	  <th><%= member.introduction %></th>
    </tr>

  </table>

  <div class='row'>
    <%= link_to '',edit_member_path(member),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{member.id}" %>
  </div>
  </div>
</div>