<div class='info'>
  <h4 class="text-center">メンバー情報</h4>
  <div class="card" style="height: 10rem;">
    <%= attachment_image_tag(member, :image, :fill, 300, 300) %>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item bg-secondary text-white"><%= member.nickname %></li>
    <li class="list-group-item bg-secondary text-white"><今一番ハマっているゲームは？></li>
    <li class="list-group-item bg-secondary text-white"><%= member.playing_now %></li>
    <li class="list-group-item bg-secondary text-white"><自己紹介></li>
    <li class="list-group-item bg-secondary text-white"><%= member.introduction %></li>

  </ul>
   <% if member.id == current_member.id %>
      <div class="align-self-center width-100%">
        <%=link_to "ユーザー情報編集を編集する", edit_member_path, class: "fas fa-edit btn btn-outline-success" %>
      </div>
    <% end %>
  </div>
</div>