  <% posts.each do |post| %>
  <div class="d-flex p-2 bd-highlight">
    <%= attachment_image_tag post, :image, :fill, 300, 300 %>
    <div class="d-flex flex-column bd-highlight mb-4">
      <a>
        投稿日時：<%= post.created_at.to_s(:datetime_jp) %>
      </a>
      <a>
        ユーザーネーム：<%= post.member.nickname %>
        <%= attachment_image_tag post.member, :image, :fill, 40, 40 %>
      </a>
      <a>タイトル：<%= post.title %></a><br>
      <a>本文：<%= post.body %></a><br>

      <a>
         <%= render 'tag_list', tag_list: post.tag_list %>
      </a>
    </div>
  </div>
  <% end %>