<div class="container">
  <div class="row">
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "つのエラー") %> が発生して投稿できませんでした</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
   </div>

  <div>
    <%= form_with model:@post, url:'/posts', local:true do |f| %>
      <form>
        <div class="form-group offset-sm-2">
          <h4>投稿画像</h4>
          <%= f.attachment_field :image, class: "col-sm-6 form-control-static" %>
        </div>

        <div class="form-group offset-sm-2">
         <img id="new-preview">
            <script>
              // 画像プレビュー
              $('#post_image').on('change', function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
              $("#new-preview").attr('src', e.target.result);
              }
              reader.readAsDataURL(e.target.files[0]); //取得したurlにアップロード画像のurlを挿入
              });
            </script>
        </div>

        <div class="form-group offset-sm-2">
          <h4>タイトル</h4>
          <%= f.text_field :title, class: "col-sm-6 form-control" %>
        </div>

        <div class="form-group offset-sm-2">
          <h4>本文</h4>
          <%= f.text_area :body, class: "col-sm-6 form-control" %>
        </div>

        <div class="form-group offset-sm-2">
          <h4>タグ付け(なくても投稿できます　複数つける場合は　,　で区切って入力してください)</h4>
          <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "col-sm-6 form-control" %>
        </div>
        <br><%= f.submit '投稿', class: "col-sm-6 btn btn-primary offset-sm-2" %>

      </form>
    <% end %>
  </div>
</div>
