  <div class='container'>
    <div class='row'>
      <div class='col col-md-3'>
        <%= render 'public/shared/info', member: @member %>
      </div>
      <div class='col col-md-9 show-img'>
        <%= render 'public/shared/search' %><br>
        <div class="d-flex flex-column bd-highlight shadow-lg">
          <a>投稿日時：<%= @post.created_at.to_s(:datetime_jp) %></a>
          <a>タイトル：<%= @post.title %></a>
          <spam>タグ:<%= render 'public/shared/tag_list', tag_list: @post.tag_list %></span>
        </div>

      <div class="card shadow" style="col-md-8">
        <a class="card-img-top"><%= attachment_image_tag @post, :image, id: "pic1" %></a>
        <div class="card-body bg-light">
          <div class="card-text h4"><%= safe_join(@post.body.split("\n"),tag(:br)) %></div>
          <p class="sentiment-score">本文の感情分析スコア[<%= @post.score %>]</p>
        </div>
      </div>


      <div class="post-info h3">
        <div id="favorite-btn_<%= @post.id %>">
          <%= render partial: 'public/favorites/favorite-btn', locals: {post: @post} %>
        </div>
          <% if @post.member == current_member %>
            <a class="d-grid justify-content-md-end">
              <%= link_to "投稿を削除する", post_path(@post.id), method: :delete, class: 'btn btn-outline-danger ', style:"width: 100%;", "data-confirm" => "本当に削除しますか？" %>
            </a>
          <% end %>
      </div>
      <div class="col">
        <div class="form-group-comment shadow">
          <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
            <%= f.text_area :comment,class: 'form-control', rows:'3', placeholder: "コメントを送ろう！！" %>
            <%= f.submit "送信する",class: "btn-primary", style:"width: 100%;" %>
          <% end %>
        </div>
      </div>

        <div class="col" id="comment-card">
          <% @post.post_comments.each do |post_comment| %>
            <table class="table shadow">
              <tbody>
                <tr><br>
                  <td class="comment-header" style= "background-color:white;">
                    <%= attachment_image_tag post_comment.member, :image, :fill, 40, 40 %>
                    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= "　　" %>
                    <%= post_comment.member.nickname %>さんのコメント
                    <% if post_comment.member == current_member %>
                      <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment),class: "far fa-trash-alt btn btn-outline-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="comment-body" style= "background-color:white;"><%= post_comment.comment %></td>
                </tr>
              </tbody>

            </table>
          <% end %>
           </div>
        </div>
        </div>
    </div>