<table class='table'>
  <thead>
    <tr>
      <th>アイコン</th>
      <th>名前</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <h1>フォロワー一覧</h1>
    <% @members.each do |member| %>
    <tr>
        <td><%= attachment_image_tag(member, :image, :fill, 50, 50) %></td>
        <td><%= member.nickname %></td>
        <td>投稿数 : <%= member.posts.count %></td>
        <td>
          フォロー数：<%= member.following.count %>
        </td>
        <td>
          フォロワー数 : <%= member.follower.count %>
        </td>
        <td><%= link_to 'Show', member_path(member), class: "member_#{member.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
