  <div class="container">
    <div class="text-center h3" id="topic">タイムライン</div>

    <div class= "row">
          <% @posts.each do |post| %>
             <div class="d-flex p-1 bd-highlight index shadow">
             <%= link_to attachment_image_tag(post, :image, :fill, 250, 270, fallback: "bg-img.jpeg", size: "250x270"),post_path(post), id: "index-pic"  %>
               <div class="card" style="width: 100%;">
                <div class="card-header text-dark" id="card-header">
                   <i class="fas fa-camera"></i><%= link_to post.member.nickname, member_path(post.member) %>さんの投稿
                 </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    投稿日時：<%= post.created_at.to_s(:datetime_jp) %>
                  </li>

                  <li class="list-group-item">タイトル：<%= post.title.truncate(20) %></li>
                  <li class="list-group-item">タグ:<%= render 'public/shared/tag_list', tag_list: post.tag_list %></li>
                  <div id="favorite-btn_<%= post.id %>">
                    <%= render partial: 'public/favorites/favorite-btn', locals: {post: post} %>
                  </div>
                  <li class="list-group-item"><%= post.body.truncate(107) %></li>
                  </ul>
                </div>
            </div>
        <% end %>
        <div class='pagination'><%= paginate @posts %></div>
    </div>
</div>