<div class='container'>
  <div class='row'>
    <div class='col col-md-3'>
      <%= render 'public/shared/info', member: @member %>
    </div>
    <div class="col col-8 offset-md-1">
    <a><%= render 'public/shared/search' %></a>
      <% @posts.each do |post| %>
    <div class="d-flex p-2 bd-highlight">
      <%= link_to attachment_image_tag(post, :image, :fill, 250, 270, fallback: "bg-img.jpeg", size: "250x270"),post_path(post), id:"index-pic" %>
     <div class="card" style="width: 100%;">
       <div class="card-header" div id="card-header">
         <i class="fas fa-camera"></i>　<%= post.member.nickname %>さんの投稿
       </div>
       <ul class="list-group list-group-flush">
         <li class="list-group-item">
           投稿日時：<%= post.created_at.to_s(:datetime_jp) %>
         </li>
         <li class="list-group-item">タイトル：<%= post.title %></li>
         <li class="list-group-item">タグ:<%= render 'public/shared/tag_list', tag_list: post.tag_list %></li>
         <li class="list-group-item">本文：<%= post.body.truncate(140) %></li>
         <div id="favorite-btn_<%= post.id %>">
           <%= render partial: 'public/favorites/favorite-btn', locals: { post: post} %>
         </div>
       </ul>
     </div>
    </div>
    <% end %>
  <div class='pagination'><%= paginate @posts %></div>
    </div>
  </div>
</div>
