 <% if post.favorited_by?(current_member) %>
  <li class="list-group-item">
    <a><%= link_to post_favorites_path(post),class: "favorite",  method: :delete, remote: true do %>♥<%= post.favorites.count %></a>
    <a><%= "　　" %><%= post.post_comments.count %>コメント</a>
  </li>
    <% end %>
<% else %>
  <li class="list-group-item">
    <a><%= link_to post_favorites_path(post),  method: :post, remote: true do %>♡<%= post.favorites.count %></a>
    <a><%= "　　" %><%= post.post_comments.count %>コメント</a>
  </li>
    <% end %>
<% end %>