<div class="container">
  <div class="row">
    <div class="col col-6 offset-md-2">
      <h2>新規会員登録</h2>
        <%= form_with model: @member, url: member_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <form>
            <div class="form-group">
              <%= f.label "ニックネーム" , style:"width: 100%;" %><br>
              <%= f.text_field :nickname, style:"width: 100%;" %>
            </div>

            <div class="form-group">
              <%= f.label "プロフィール画像" %><br>
              <%= f.attachment_field :image, style:"width: 100%;" %>
              <img id="preview">
                <script>
                    // inputのidから情報の取得
                    $('#member_image').on('change', function (e) {
                // ここから既存の画像のurlの取得
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#preview").attr('src', e.target.result);
                    }
                // ここまで
                    reader.readAsDataURL(e.target.files[0]); //取得したurlにアップロード画像のurlを挿入
                });
               </script>
              </img>
            </div>

           <div class="form-group">
             <%= f.label "自己紹介" %><br /><%= f.text_area :introduction, style:"width: 100%;" %>
           </div>

           <div class="form-group">
             <%= f.label "今ハマっているゲーム" %><br /><%= f.text_field :playing_now, style:"width: 100%;" %>
           </div>

           <div class="form-group">
             <%= f.label "メールアドレス" %><br /><%= f.email_field :email, autocomplete: "email", style:"width: 100%;" %>
           </div>

           <div class="form-group">
             <%= f.label "パスワード" %>
             <% if @minimum_password_length %>
               <em>(<%= @minimum_password_length %> 文字以上)</em>
             <% end %><br />
             <%= f.password_field :password, autocomplete: "new-password", style:"width: 100%;" %>
           </div>

           <div class="form-group">
             <%= f.label "パスワード(確認用)" %><br />
             <%= f.password_field :password_confirmation, autocomplete: "new-password", style:"width: 100%;" %>
           </div>

           <div class="form-group">
             <%= f.submit "新規登録する", class:"btn btn-outline-success", style:"width: 100%;" %>
           </div>
        </form>
      <% end %>
    </div>
  </div>
</div>