<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="utf-8">
    <!--レスポンシブ-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameSnap</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script type="text/javascript" src="./footerFixed.js"></script>-->
  </head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/"><%= "image_tag" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if member_signed_in? %>
              <li class=nav-list><%= link_to ' 投稿一覧', posts_path, class: 'btn btn-outline-secondary' %></li>
              <li class=nav-list><%= link_to ' マイページ', member_path(current_member), class: "btn btn-outline-secondary" %></li>
              <li class=nav-list><%= link_to ' ログアウト', destroy_member_session_path, method: :delete,class: "btn btn-outline-secondary" %></li>
              <li class="nav-item nav-link text-success">ログイン中：<%= current_member.nickname %><small>さん</small></li>
            <% else %>
              <li class=nav-list><%= link_to ' 新規登録', new_member_registration_path, class: "btn btn-outline-secondary" %></li>
              <li class=nav-list><%= link_to ' ログイン', new_member_session_path, class: "btn btn-outline-secondary" %></li>
              <li class=nav-list><%= link_to ' ゲストログイン（閲覧用）', homes_guest_sign_in_path, class: "btn btn-outline-secondary", method: :post %></li>
            <% end %>
          </ul>
        </div>
    </div>
  </nav>
</header>


       <%= yield %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <footer class="footer h4 text-center text-secondary bg-light" id="navbarNavDropdown" style="height: 80px; line-height: 80px;">©︎ 2021 Game Snap</footer>
</body>
</html>
